.signin{
    box-sizing: border-box;

width: 400px;
height: 480px;

background: #FFFFFF;
border: 1px solid #95A0A7;
border-radius: 8px;
}
.signin_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
form {
padding:18px;
}
form>div>input{
    display: block;
    width: 350px;
height: 45px
}